<ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
        <NavLink class="nav-link text-white" href="" Match="NavLinkMatch.All">
            <span class="me-2">&#128200;</span>Dashboard
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link text-white" href="/servers">
            <span class="me-2">&#128269;</span>Schema Browser
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link text-white" href="/catalogue">
            <span class="me-2">&#128196;</span>Migration Selection
        </NavLink>
    </li>
    <li class="nav-item mt-3">
        <span class="nav-link text-secondary small text-uppercase">Import</span>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link text-white" href="/import/dacpac">
            <span class="me-2">&#128230;</span>DACPAC
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link text-white" href="/import/dacpac-folder">
            <span class="me-2">&#128193;</span>DACPAC Folder
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link text-white" href="/import/excel">
            <span class="me-2">&#128202;</span>Excel
        </NavLink>
    </li>
    <li class="nav-item mt-3">
        <span class="nav-link text-secondary small text-uppercase">Generation</span>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link text-white" href="/generation/ef">
            <span class="me-2">&#9881;</span>EF Generation
        </NavLink>
    </li>
</ul>
